<div class="container">
	<div class="row">
		<div class="col-sm">

			{{burger_name}}

			<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
				{{#if devoured}}Devour this Burger!{{else}}RECOOK BURGER!{{/if}}
			</button><span class="material-icons">
outdoor_grill
</span>

			<button class="delete-burger" data-id="{{this.id}}"> TRASH BURGER!</button> <span class="material-icons">lunch_dining</span
		</div>
	</div>
</div>