<div class="container">
	<div class="row">
		<div class="col-sm">

			{{burger_name}}

			<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
				{{#if devoured}}Devour this Burger!{{else}}SEND IT UP TO BE RE-DEVOUR!{{/if}}
			</button>

			<button class="delete-burger" data-id="{{this.id}}">DELETE THIS BURGER!</button>
		</div>
	</div>
</div>